.DS_Store
youtubeDownloader/
Python/Projects/PythonClassGeneratory/gen/
Python/Projects/mediaPlayer/dist/python/
Python/Projects/mediaPlayer/dist/*.exe
Python/Projects/mediaPlayer/spoofedToken.json
node/test 1/node_modules/
Python/Projects/windowSnip/OBS-Studio-31.0.4-Windows/
Python/Projects/windowSnip/OBS-Studio-31.0.4-Windows.zip
C++/obs-studio/
Python/Projects/windowSnip/distroav/
Python/Projects/windowSnip/OBS-Studio/
Python/Projects/windowSnip/ndi-python
