.DS_Store
youtubeDownloader/
Py/Code/Rennisance/probe-simulation/src/models/drone/
Py/Code/Rennisance/probe-simulation/src/models/voyager/
Py/Code/Rennisance/probe-simulation/build/
Py/Code/Rennisance/probe-simulation/src/movies/GUI/static.mp4
Py/Code/Rennisance/probe-simulation/dist/probe destruction 3000-0.0.0_win_amd64.zip
Py/Code/SpreadsheetParser/MASTER.xlsx
Py/Code/SpreadsheetParser/studentFiles/

Python/Projects/PythonClassGeneratory/gen/